input[type='search'] {
    width: 100%;
    box-sizing: border-box;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: none;
    padding: 0.6em;
    font-size: 20px;
    background-color: #0c0f12;
}

input[type='search']::placeholder {
    color: rgb(195, 195, 195);
}
