.container {
    color: var(--color);
    width: 100vw;
    box-sizing: border-box;
    height: 100vh;
    overflow-x: hidden;
}

.inner-container {
    display: flex;
    flex-direction: row;
}

/** content of A song */

.content {
    flex: 1;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px 20px 20px 20px;
}

@media  (max-width: 960px) {
    .content {
        display: none;
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        background-color: #000000;
    }
}

@media (min-width: 1080px) {
    .song-details {
        width: 400px;
    }
}

.song-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.song-details {
    display: flex;
    flex-direction: column;
}
.song-details .cover-image img {
    width: 300px;
}

.song-details .details {
    line-height: 2;
}

.lyrics {
    height: calc( 100vh - 40px);
    overflow: auto;
    flex: 1;
    align-self: center;
    padding: 10px 20px;
    font-family: var( --font-family );
    font-size: 16px;
}

.song-details .details h2 {
    color: var( --band-primary-color );
    font-family: var( --font-family-heading );
}

.song-details .details .meta .artist, .album {
    cursor: pointer;
    color: var(--brand-secondary);
    font-family: var(--font-family);
}

@media (max-width: 1080px) {
    .content .song-container .song-details {
        flex-direction: row;
        margin-left: 10px;
    }
    .content .song-container .song-details .cover-image {
        display: inline-block;
    }
    .content .song-container .song-details .cover-image img {
        width: 75px;
    }
    .content .song-container .song-details .details {
        display: inline-block;
        vertical-align: top;
        padding-left: 10px;
    }
    .content .song-container .song-details .details h2 {
        margin: 0;
        line-height: 1.2;
        font-size: 16px;
    }

    .content .song-container .song-details .details .meta {
        font-size: 14px;
        line-height: 1.4;
    }
    .lyrics {
        height: calc( 100vh - 160px);
    }

}

.user-msg {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 35vh;
    height: 30px;
    box-sizing: border-box;
}


.inner-container .search-table {
    height: 100vh;
    min-width: 350px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

@media (min-width: 1080px) {
    .inner-container .search-table {
        width: 30%;
        border-right: 1px solid #000000;
    }
}

.search-box {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.search-results {
    box-sizing: border-box;
    overflow-y: auto;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
}



/** actions */
.actions {
    text-align: right;
    padding-bottom: 10px;
}
@media (min-width: 960px) {
    .actions {
        display: none;
    }
}



